<%- include("partial/header"); -%>

        <table spacing="20" style="margin-top:8px;">
            <tr>
                <td><img src="circle-cropped.png" alt="Profile Picture"></td>
                <td style="padding-left:10px;"><h1>Prajwal Raj</h1>
                <p><em><b>Computer Science Engineering</b></em></p>
                <p>I am an Front-end Developer</p></td>
                </tr>
            </table>
<h2> Skills</h2>
        <ul>
        <li>Programming Knowledge <strong>C,Python,Javascript,Sql</strong></li>
        <li>Front-end Knowledge</li>
        <li>Software Manual Testing Knowledge </li>
        </ul>
        <hr>
        <h2>Awards and Recognition</h2>
        <ul>
        <li>Attained 2<sup>nd</sup> position in District Level and inter School Chess championship</li>
        <li>Achieved 2<sup>nd</sup>   position in Abdul Kalam Technical University<strong>(AKTU)</strong>zonal Chess championship</li>
        <li>Currently hold rating of 1231 acclaimed By International Chess Federation <strong>(FIDE)</strong></li>
        </ul>
        <hr>
        <h2>Projects undertaken</h2>
        <ul>
        <li>Simon-game</li>
        <li>ecommerce front-end website</li>
        <li>Dice-challenge</li>
        <li>Drum-kit-sound</li>
        <li>To-do-List</li>
        </ul>
        <hr>
        <h3>Personal Interest</h3>
        <ul>
        <li>Curious to learn new things</li>
        <li>Sports</li>
        <li>Travelling</li>
    </ul>
    <hr>
<%- include("partial/footer"); -%>