body,html{
   height:100%;
}
.container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
    padding-bottom: 60px;
}
p{
    font-size:17px;
}

.footer p {
    padding-top:20px;
	font-size: 15px;
  color: #fff;
}
.adds
{
    min-height:100%;
    margin-bottom:-40px;
    padding-bottom:40px;
}
.footer {
	position:relative;
	text-align: center;
    bottom: 0px;
	width: 100%;
    background-color: #1abc9c;
    height:50px;
}